@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --green: #5ca51a;
  --dark-green: #437a13;
  --light-green: #bef3a0;
  --white: #fff;
  --black: #000;
  --light-grey: #5e5e5e;
}

@keyframes slidein {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*general*/
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--white);
  font-family: "Carrois Gothic";
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color: var(--green);
}

.go-top {
  cursor: pointer;
  position: fixed;
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 0 8px 0 0;
  padding: 12px 18px;
  bottom: 0;
}

.social {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 40%;
  background-color: var(--green);
  color: var(--white);
  padding: 15px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-radius: 10px 0 0 10px;
}

/*general*/

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 105px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.img-logo img {
  width: 50px;
  height: 50px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  color: var(--black);
  font-family: "Carrois Gothic";
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 18px;
}

.nav-links a:hover {
  color: var(--green);
}

.profile {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile p {
  color: var(--black);
  font-size: 20px;
}

.profile-pic img {
  width: 50px;
  height: 50px;
}

/*navbar*/

/*PAGE ACCEUIL*/

/*top acceuil*/

.haut {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.plante img {
  width: 80%;
}

.title h1 {
  font-family: "Gloock", serif;
  font-weight: 400;
  letter-spacing: 8px;
  color: var(--dark-green);
  text-transform: uppercase;
}

.description-title p {
  margin-top: 20px;
  line-height: 30px;
}

.plat-haut img {
  width: 90%;
}

.bouton-recette {
  margin-top: 50px;
  cursor: pointer;
}

.bouton-recette p:hover {
  background-color: var(--white);
  border: 2px solid var(--green);
  color: var(--green);
}

.bouton-recette p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 200px;
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
  padding: 15px 18px;
  border-radius: 8px;
}

/*top acceuil*/

/*description acceuil*/

.description {
  padding: 0 80px 50px 80px;
}

.description p {
  padding-bottom: 15px;
  line-height: 26px;
  animation-duration: 5s;
  animation-name: slidein;
  animation-fill-mode: both;
}

/*description acceuil*/

/*recette acceuil*/

.title-description {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-description h2 {
  font-family:  "Carrois Gothic";
  color: var(--black);
  letter-spacing: 3px;
  margin-top: 15px;
  font-size: 20px;
}

.title-description p {
  color: var(--light-grey);
  margin-top: 12px;
}

.img-desc img {
  width: 120px;
}

.title-description h2 {
  text-transform: uppercase;
}

.liste-recettes {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.recette {
  padding: 30px;
  box-shadow: 0px 0px 16px -8px #000;
  border-radius: 20px;
  width: 320px;
  transform: scale(1);
  transition: transform 1s ease;
}

.recette:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.image-recette img {
  border-radius: 20px;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.name-recette {
  text-align: center;
}

.name-recette a {
  color: var(--black);
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family:  "Carrois Gothic";
}

.name-recette a:hover {
  color: var(--green);
}

.note-share-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;
}

.share-save {
  display: flex;
  gap: 26px;
  font-size: 22px;
  color: var(--light-grey);
}

.note {
  font-size: 22px;
  color: var(--green);
}

.desc-recette {
  margin: 18px 0;
  text-align: center;
}

.under-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.under {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-grey);
}

.text-under {
  margin-top: 6px;
}

.icon {
  font-size: 20px;
}
/*recette*/

/*FIN PAGE ACCEUIL*/

/*PAGE RECETTE*/

.recette-container {
  max-width: 1000px;
  margin: 50px auto;
}

.title.title-recipe {
  text-align: center;
  font-size: 12px;
}

.image-recipe {
  margin-top: 18px;
}

.image-recipe img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.container-ingredient-preparation {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.details-prep {
  display: flex;
  align-items: end;
  gap: 27px;
}

.details-prep strong {
  color: var(--dark-green);
}

.préparation ol {
  margin-top: 15px;
}

.ingredients {
  width: 35%;
}

.ingredients ul {
  margin-top: 15px;
}

.astuce {
  margin-top: 22px;
}

.title-astuce {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-astuce i {
  color: var(--green);
  font-size: 18px;
}

.astuce p {
  margin-top: 15px;
}

.back-to-acceuil {
  margin-top: 15px;
}

.back-to-acceuil a {
  color: var(--dark-green);
}

/*FIN PAGE RECETTE*/

/*PAGE CRÉATION*/
.creation-container {
  max-width: 1000px;
  margin: 50px auto;
}

.title.title-creation {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}

.form.form-informations {
  margin-bottom: 20px;
}

.form-informations form {
  display: flex;
  justify-content: space-between;
}

.form.form-recette .form-without-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.form.form-recette .table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.form.form-recette .table table {
  width: 100%;
}

.title-creation p {
  font-size: 16px;
  margin-top: 15px;
}

.creation-recette h2 {
  margin-bottom: 15px;
}

.creation-recette-container h2 {
  margin-bottom: 15px;
}

.creation-recette p {
  margin-top: 15px;
}

.label {
  display: flex;
  flex-direction: column;
}

.label label,
textarea {
  margin-bottom: 10px;
}

.label2 {
  display: flex;
  flex-direction: column;
}

/*copier coller pour styliser mais a comprendre*/
input[type="checkbox"].infos {
  display: none;
}
input[type="checkbox"].infos + label::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c8";
  font-size: 1.2em;
  color: var(--green);
  margin-right: 0.3rem;
}
input[type="checkbox"].infos:checked + label::before {
  content: "\f14a";
  color: var(--green);
}
/*copier coller pour styliser mais a comprendre*/

.label2 label {
  margin-bottom: 10px;
}

.form .label input,
textarea {
  outline: none;
  border: none;
  background-color: var(--light-green);
  width: 280px;
  padding: 10px 15px;
  border-radius: 10px;
  resize: none;
}

.form input::file-selector-button {
  color: var(--white);
  border-radius: 10px;
  background-color: var(--green);
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.form input::file-selector-button:hover {
  background-color: #437a13;
}
/*FIN PAGE CRÉATION*/

/*footer*/

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: var(--light-green);
}

.left {
  width: 20%;
}

.social-media {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  color: var(--black);
  font-size: 22px;
}

.contact-us h3 {
  margin-bottom: 12px;
}

.contact-us li {
  margin-bottom: 8px;
}

.subscribe h3 {
  margin-bottom: 12px;
}

.subscribe .input input {
  border: none;
  background: none;
  outline: none;
}

.input {
  margin-top: 12px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 12px 32px;
  border-radius: 10px;
}
/*footer*/