@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --green: #7aa95c;
  --dark-green: #486537;
  --light-green: #bef3a0;
  --white: #fff;
  --black: #000;
  --background: #f6f9f4;
}

/*general*/

body {
  box-sizing: border-box;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h2 {
  font-family: Times New Roman;
  color: var(--green);
}
/*general*/

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  padding: 18px 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.img-logo img {
  width: 50px;
  height: 50px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  color: var(--dark-green);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile p {
  color: var(--dark-green);
}

.profile-pic img {
  width: 50px;
  height: 50px;
}
/*navbar*/

/*top*/

.haut {
  display: flex;
  align-items: center;
  margin: 80px 0;
  gap: 50px;
}

.plante img {
  width: 100%;
}

.title h1 {
  font-family: "Times New Roman", Times, serif;
  color: var(--dark-green);
  text-transform: uppercase;
}

.title p {
  margin-top: 20px;
}

.plat-haut img {
  width: 90%;
}

/*top*/

/*description*/

.description {
  padding: 0 80px 80px 80px;
}

.description p {
  padding-bottom: 15px;
}
/*description*/

/*recette*/

.title-description {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.title-description h2 {
  text-transform: uppercase;
}

.liste-recettes {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

.name-recette {
  margin: 25px 32px;
}

.recette {
  background-color: var(--light-green);
  border-radius: 15px;
}

.recette a {
  color: var(--dark-green);
}

.recette img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.difficulte-temps {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.d-t p {
  color: var(--white);
  background-color: var(--green);
  padding: 6px 22px;
  border-radius: 20px;
  letter-spacing: 1px;
}
/*recette*/
